/* custom line */
#customLine{
  height: 1px;
  width: 33%;
  background-color: red;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* name */
.name, .role, .roleInfo{
  color: black;
  text-align: center;
}
/* our team image */
#ourTeam{
  height: 300px;
  padding-bottom: 100px;
  margin: 0 auto
}
/* ceo goal */
#ceoGoal{
  margin-bottom: 100px;
}