/* custom list */
#customList li{
  font-size: 24px;
}
/* pricing */
#pricing{
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 50%;
  padding-top: 25px;
  color: white;
  background-color: black;
  display: inline-block;
  margin-right: 30px;
}